:root {

    .ag-theme-hybrix {
        --ag-border-color: #ccc;
        --ag-alpine-active-color: #ED8C00;
        --ag-selected-row-background-color: #ED8C00;
        --ag-row-hover-color: #ED8C0020;
        --ag-column-hover-color: rgba(33, 150, 243, 0.1);
        --ag-input-focus-border-color: rgba(32, 41, 48, 0.4);
        --ag-range-selection-background-color: rgba(33, 150, 243, 0.2);
        --ag-range-selection-background-color-2: rgba(33, 150, 243, 0.36);
        --ag-range-selection-background-color-3: rgba(33, 150, 243, 0.49);
        --ag-range-selection-background-color-4: rgba(33, 150, 243, 0.59);
        --ag-background-color: #fff;
        --ag-foreground-color: #181d1f;
        --ag-secondary-border-color: #dde2eb;
        --ag-header-background-color: #f8f8f8;
        --ag-tooltip-background-color: #f8f8f8;
        --ag-odd-row-background-color: #fcfcfc;
        --ag-control-panel-background-color: #f8f8f8;
        --ag-subheader-background-color: #fff;
        --ag-invalid-color: #e02525;
        --ag-checkbox-unchecked-color: #999;
        --ag-checkbox-background-color: var(--ag-background-color);
        --ag-checkbox-checked-color: var(--ag-alpine-active-color);
        --ag-range-selection-border-color: var(--ag-alpine-active-color);
        --ag-secondary-foreground-color: var(--ag-foreground-color);
        --ag-input-border-color: var(--ag-border-color);
        --ag-input-border-color-invalid: var(--ag-invalid-color);
        --ag-input-focus-box-shadow: 0 0 2px 0.1rem var(--ag-input-focus-border-color);
        --ag-disabled-foreground-color: rgba(24, 29, 31, 0.5);
        --ag-chip-background-color: rgba(24, 29, 31, 0.07);
        --ag-input-disabled-border-color: rgba(186, 191, 199, 0.3);
        --ag-input-disabled-background-color: rgba(186, 191, 199, 0.15);
        --ag-borders: solid 1px;
        --ag-border-radius: 3px;
        --ag-borders-side-button: none;
        --ag-side-button-selected-background-color: transparent;
        --ag-header-column-resize-handle-display: block;
        --ag-header-column-resize-handle-width: 2px;
        --ag-header-column-resize-handle-height: 30%;
        --ag-grid-size: 6px;
        --ag-icon-size: 16px;
        --ag-row-height: calc(var(--ag-grid-size) * 7);
        --ag-header-height: calc(var(--ag-grid-size) * 8);
        --ag-list-item-height: calc(var(--ag-grid-size) * 4);
        --ag-column-select-indent-size: var(--ag-icon-size);
        --ag-set-filter-indent-size: var(--ag-icon-size);
        --ag-cell-horizontal-padding: calc(var(--ag-grid-size) * 3);
        --ag-cell-widget-spacing: calc(var(--ag-grid-size) * 2);
        --ag-widget-container-vertical-padding: calc(var(--ag-grid-size) * 2);
        --ag-widget-container-horizontal-padding: calc(var(--ag-grid-size) * 2);
        --ag-widget-vertical-spacing: calc(var(--ag-grid-size) * 1.5);
        --ag-toggle-button-height: 18px;
        --ag-toggle-button-width: 28px;
        --ag-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        --ag-font-size: 13px;
        --ag-icon-font-family: agGridAlpine;
        --ag-selected-tab-underline-color: var(--ag-alpine-active-color);
        --ag-selected-tab-underline-width: 2px;
        --ag-selected-tab-underline-transition-speed: 0.3s;
        --ag-tab-min-width: 240px;
        --ag-card-shadow: 0 1px 4px 1px rgba(186, 191, 199, 0.4);
        --ag-popup-shadow: var(--ag-card-shadow);
        --ag-side-bar-panel-width: 250px;

        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0 3px 6px #00000029;
    }
}
.ag {
    &-header {
        &-cell {
            border: 1px solid #fff;
            background-color: #ebebeb;
            font-weight: bold;

            &.tag {
                color: #fff;
                background-color: #6667ab !important;

                &.ag-header-active {
                    &:hover {
                        color: #fff;
                        background-color: #6667ab !important;
                    }
                }
            }
        }

        &-group-cell {
            border: 1px solid #fff;
            font-weight: bold;
            
        }
    }

    &-cell {
        color: #333;
        font-weight: normal;
      
    }

    &-row {
        &.danger {
            .ag-cell {
                background-color: #c20101cc;
                color: #fff;
            }
        }
        &-selected{
            .ag-cell {
                color: #fff;
                background-color: #ED8C00;
                &-inline-editing {
                    color: #333;
                }
            }
        }
    }

}





.ag-root-wrapper {
    border: none !important;
    border-radius: 10px;
}

.select {
    width: 100%;
}

.worning{
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
}
.primary{
    border: 1px solid var(--color-purple-deep);
    background-color: var(--color-purple-deep);
}
.danger{
    border: 1px solid #c20101cc;
    background-color: #c20101cc;
}

.object-cell {
  cursor: pointer;
  &-item{
    width: 500px;
    height: 200px;
    background-color: white;
  }
}


.cell {
    &-dialog {
        width: 500px;
        height: 200px;
    }   
    &-span {
        display: flex !important;
        align-items: center;
        background-color: #fcfcfc;
        border-bottom: 1px solid #dde2eb;
    }
    &-date {
        width: 100%;
        height: 100%;
    }
    &-checkbox {
        text-align: center;
    }
}

