:root {
  /* || SIZE */
  --gap-default: 24px;
  --gap-xs-1: calc(var(--gap-default) * (1 / 6)); 
  --gap-sm-1: calc(var(--gap-default) * (1 / 3)); 
  --gap-sm-2: calc(var(--gap-default) * (2 / 3)); 
  --gap-1: calc(var(--gap-default) * 1); 
  --gap-2: calc(var(--gap-default) * 2); 
  --gap-3: calc(var(--gap-default) * 3); 
  --gap-4: calc(var(--gap-default) * 4); 
  
  /* || COLOR */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-3: #f7f7f7;
  --color-gray-8: #ebebeb;
  --color-gray-20: #cccccc;
  --color-gray-40: #999999;
  --color-gray-60: #666666;
  --color-gray-80: #333333;

  --color-purple-transparent: #f3f3f9;
  --color-purple-lite: #9aa7e8;
  --color-purple: #8b5795;
  --color-purple-deep: #6667ab;

  --color-pink-transparent: #fef0f2;
  --color-pink-lite: #e087b5;
  --color-pink: #ea435d;
  --color-pink-deep: #d75078;

  --color-red-transparent: #fcf2f2;
  --color-red: #e53935;
  --color-red-deep: #c22626;

  --color-colar-transparent: #fbf2f0;
  --color-colar: #d67d6f;

  --color-skin-transparent: #fbf2f0;
  --color-skin-lite: #e2c0be;
  --color-skin: #d3927e;
  --color-skin-deep: #c5acaf;

  --color-brown-transparent: #f6f4f2;
  --color-brown-lite: #d67d6f;
  --color-brown: #8e7860;
  --color-brown-deep: #7b635f;

  --color-orange-transparent: #fef6eb;
  --color-orange-lite: #edc371;
  --color-orange: #ed8c00;

  --color-amber-transparent: #faf9ed;
  --color-amber: #cfbe54;

  --color-yellow-transparent: #fffee6;
  --color-yellow: #fbf665;

  --color-lime-transparent: #fafce9;
  --color-lime: #dbe961;

  --color-green-lite-transparent: #f4f9ef;
  --color-green-lite: #92c766;

  --color-green-transparent: #f0f7f3;
  --color-green: #47996b;

  --color-teal-transparent: #f0f6f6;
  --color-teal-lite: #a1c9c8;
  --color-teal: #668b8a;

  --color-cyan-transparent: #f0f3f5;
  --color-cyan-lite: #849fa8;
  --color-cyan: #568392;

  --color-blue-transparent: #f1f7fc;
  --color-blue-lite: #75b0de;
  --color-blue: #3c71a5;

  --color-indigo-transparent: #f5f7fe;
  --color-indigo: #585dc6;

  /* || SHADOW */
  --color-shadow: #0000000f;
  --shadow-dev-1: 0 1px 3px var(--color-shadow);
  --shadow-dev-2: 0 2px 4px var(--color-shadow);
  --shadow-dev-3: 0 3px 5px var(--color-shadow);
  --shadow-dev-4: 0 4px 6px var(--color-shadow);
  --shadow-dev-6: 0 6px 8px var(--color-shadow);
  --shadow-dev-8: 0 8px 10px var(--color-shadow);
  --shadow-dev-12: 0 10px 12px var(--color-shadow);
  --shadow-dev-16: 0 12px 14px var(--color-shadow);
  --shadow-dev-24: 0 14px 16px var(--color-shadow);

  /* TRANSITION */
  --transition-duration-default: 0.3s;
}

[color-scheme='dark'] {
  /* || COLOR */
  --color-gray-80: #e2e2e2;
  --color-gray-60: #a6a6a6;
  --color-gray-40: #7a7a7a;
  --color-gray-20: #4e4e4e;
  --color-gray-8: #323232;
  --color-gray-3: #282828;

  --color-purple-transparent: #26262c;
  --color-pink-transparent: #312325;
  --color-red-transparent: #322222;
  --color-colar-transparent: #342b29;
  --color-brown-transparent: #332f2b;
  --color-orange-transparent: #31291e;
  --color-amber-transparent: #31291e;
  --color-yellow-transparent: #383728;
  --color-lime-transparent: #353628;
  --color-green-lite-transparent: #2d3228;
  --color-green-transparent: #232a26;
  --color-teal-transparent: #2b2e2e;
  --color-cyan-transparent: #2d3032;
  --color-blue-transparent: #2a3035;
  --color-indigo-transparent: #282a31;

  /* 다크 모드시 배경색 */
  --color-purple-gray: #212121;
  --color-purple-gray-1: #2c2c2c;
  --color-purple-gray-2: #303031;
  --color-purple-gray-3: #323232;
  --color-purple-gray-4: #343435;
  --color-purple-gray-6: #383839;
  --color-purple-gray-8: #3b3b3c;
  --color-purple-gray-12: #3f3f40;
  --color-purple-gray-16: #404041;
  --color-purple-gray-24: #434344;
}
